__pycache__/
*.py[cod]
*$py.class
*.so
.env
.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/
ENV/

# Dev
docs/agent instructions/Pre-build_check.md

# Distribution / packaging
build/
dist/
*.spec

# User Files
User Files/
data/
results/
debug/app_debug_log.txt
debug/build_log.txt
surasura_v*.zip

# Pytest
.pytest_cache/


docs/agent instructions
docs/pre release notes

# Modules
modules/*
launch_immersion_architect.py